.timer {
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.button {
  padding-top: 12px;
}

body {
  background-color: #C98A75;
}
