.timer {
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
}

.center {
  text-align: center;
  vertical-align: middle;
  padding: 0px 100px;
}

.button {
  padding-top: 24px;
}

body {
  background-color: #C98A75;
}

.cog {
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
}

.fa-fw {
  width: 0.89em;
}

.pLabel {
  padding-top: 12px;
}
